.wrapper {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 95%;
}

.container {
  width: 200px;
  background-color: #dfdfdf;
  padding: 10px;
  border-radius: 4px;

  li {
    margin-bottom: 16px;
    list-style-type: none;
    font-weight: 400;
    padding-left: 8px;
  }
}
