@import "mixins";
@import "variables";

.wrapper {
  margin-bottom: 60px;
}

.itemList {
  width: 100vw;
}

.item {
  width: 270px;

  .item__picture-container {
    background-color: $secondary;
    height: 250px;
    @include flex-center;
    position: relative;
    margin-bottom: 16px;

    .discount {
      position: absolute;
      top: 0;
      left: 0;
      margin: 12px 0 0 12px;
      padding: 4px 12px;
      background-color: $crimson;
      @include border-radius(4px);

      span {
        font-size: 12px;
        line-height: 18px;
        color: white;
      }
    }
    .icons {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      right: 0;
      margin: 12px 12px 0 0;
      gap: 8px;

      button {
        @include size(34px);
        @include flex-center;
        border: 0;
        background-color: white;
        @include border-radius(50%);
        cursor: pointer;
      }
    }

    .addCart {
      position: absolute;
      bottom: 0;
      background-color: black;
      width: 100%;
      @include flex-center;
      cursor: pointer;
      border: 0;
      opacity: 0;
      transition: opacity 0.5s ease;

      p {
        padding: 8px 0;
        @include standart-text;
        font-weight: 500;
        color: white;
      }
    }
    &:hover {
      .addCart {
        opacity: 1;
      }
    }
  }

  .item__description {
    p {
      @include standart-text;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .item__description-discount {
      margin-bottom: 8px;
      @include standart-text;
      font-weight: 500;

      .current-price {
        color: $crimson;
        margin-right: 12px;
      }

      .prev-price {
        text-decoration: line-through;
        color: $gray;
      }
    }
  }

  .item__rating {
    @include items-center;
    gap: 8px;

    p {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
      margin-bottom: 0;
      color: $gray;
    }
  }
}
