@import "mixins";
@import "variables";

.container {
  width: 1170px;
  @include flex-column;
  margin: 0 auto;
  position: relative;
}

.upArrow {
  position: fixed;
  top: 0;
  right: 0;
  @include rotate(-90deg);
  margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
