@import "mixins";
@import "variables";

.main {
  // min-height: 100vh; //поправить
  position: relative;
  margin: 0 auto;
  // width: 1440px;
  // width: 100vw;
  // width: 100%;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}
.container {
  // max-width: 1170px;
  width: 1170px;
  @include flex-column;
  margin: 0 auto;
  // background-color: lightcoral;
}
