@import "mixins";
@import "variables";

.main {
  // min-height: 100vh; //поправить
  position: relative;
  display: flex;
  margin: 0 auto;
  // width: 1440px;
  // width: 100vw;
  width: 100%;
  // background-color: black;
  overflow: hidden; // чтобы элементы не выходили за пределы
}
.container {
  width: 1170px;
  display: flex;
  margin: 0 auto;
  // background-color: lightcoral;
  display: flex;
  flex-direction: column;
}
