@import "mixins";
@import "variables";

.wrapper {
  width: 892px;
  height: 344px;
}

.item {
  @include flex;
  position: relative;
  background-color: black;

  .item__description {
    position: relative;
    color: white;
    padding: 58px 0 0 64px;
    z-index: 2;

    .item-voucher {
      font-size: 48px;
      font-family: "Inter";
      line-height: 60px;
      letter-spacing: 4%;
      font-weight: 600;
      margin-bottom: 22px;
      width: 294px;
    }

    .item__description-title {
      @include items-center;
      gap: 24px;
      margin-bottom: 20px;

      .faApple {
        width: 40px;
        height: 49px;
        color: white;
      }

      p {
        @include standart-text;
      }
    }

    .item__action {
      @include standart-text;
      @include items-center;
      gap: 8px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      .arrow {
        width: 24px;
        height: 24px;
      }
    }
  }

  .item-image {
    padding-top: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 700px;
    ul {
      width: 250px;
    }

    .item-image {
      width: 400px;
      // height: 300px;
    }

    .item-voucher {
      font-size: 36px !important;
      line-height: 48px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 500px;
    ul {
      width: 250px;
    }

    .item-image {
      width: 300px;
      height: 300px;
      padding-top: 50px;
      margin-right: -50px;
    }
  }
}

@media screen and (max-width: 480px) {
  .item {
    display: block;
    .item-image {
      display: none;
    }
    .item__description-title {
      margin-bottom: 30px !important;
    }

    .item-voucher {
      width: 100% !important;
      margin-bottom: 60px !important;
    }
  }
}
