@import "mixins";
@import "variables";

.wrapper {
  background-color: #000;
  width: 100%;
  position: relative;
  z-index: 55;
}

.container {
  background-color: black;
  width: 1170px;
  height: 48px;
  margin: 0 auto;
  @include items-center;
  justify-content: flex-end;

  -webkit-box-pack: end; /* Old Webkit-based browsers (Safari, Chrome) */
  -moz-box-pack: end; /* Old Firefox */
  -ms-flex-pack: end; /* IE 10 */
}

.sale,
.language {
  @include items-center;
  color: $text-white;
}

.sale {
  padding-right: 231px;
  gap: 8px;
  font-size: 14px;

  P {
    line-height: 21px;
  }
}

.language {
  gap: 5px;
  cursor: pointer;

  button {
    @include button-transparent;
    cursor: pointer;

    .dropdown {
      color: #fff;
    }
  }
}

.localizationCompWrapper {
  position: absolute;
  z-index: -1;
  transform: translate(-20%, 70%);
}
