@import "mixins";
@import "variables";

.wrapper {
  margin-bottom: 140px;
}

.header {
  @include flex;
  margin-bottom: 60px;

  h2 {
    @include h2;
  }
}

.itemList {
  @include flex;
  gap: 30px;
}
