@import "mixins";
@import "variables";

.wrapper {
  margin-bottom: 70px;
  border-bottom: 0.5px solid $border-gray;
}

.header {
  margin-bottom: 60px;
  @include items-center;

  h2 {
    @include h2;
  }
}

.categoryList {
  margin-bottom: 70px;

  .item {
    width: 170px;
    height: 145px;
    @include flex-center;
    border: 1px solid rgba(#000000, 0.3);
    @include border-radius(4px);

    .item__container {
      @include flex-column-center;
      color: black;
      transition: color 0.5s ease;

      div {
        margin-bottom: 16px;
      }

      p {
        @include standart-text;
      }
    }

    &:hover {
      background-color: $crimson;
    }

    &:hover .item__container {
      > div,
      > p {
        color: white;
      }
    }
  }
}
