@import "mixins";
@import "variables";

.wrapper {
  position: relative;
  width: 220px;

  &::after {
    content: "";
    position: absolute;
    border-right: 0.5px solid $border-gray;
    height: calc(100% + 40px);
    transform: translateY(-9.5%);
    top: 0;
    right: 0;
  }
}

.categories {
  list-style: none;
  @include standart-text;
  margin-right: 16px;

  li {
    height: 24px;
    padding: 8px 0;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      font-weight: 700;

      &:hover::after {
        width: 100%;
      }

      .dropdown {
        @include size(16px);
      }
    }
  }

  .categories__fashion {
    @include items-center;

    .dropdown {
      color: #000;
      @include rotate(-90deg);
      margin-left: auto;
    }
  }
}

.categories li {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: black;
    left: 0;
    bottom: 8px;
    margin-bottom: -3px;
    transition: width 0.3s ease;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    ul {
      width: 200px;
    }
  }
}
