@import "mixins";
@import "variables";

.item {
  .item__image-container {
    background-color: $secondary;
    width: 270px;
    height: 250px;
    @include flex-center;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    .discount {
      position: absolute;
      top: 0;
      left: 0;
      margin: 12px 0 0 12px;
      padding: 4px 12px;
      // background-color: $crimson;
      @include border-radius(4px);

      span {
        font-size: 12px;
        line-height: 18px;
        color: white;
      }
    }

    .addCart {
      position: absolute;
      bottom: -40px;
      visibility: hidden;
      opacity: 0;
      background-color: black;
      width: 100%;
      @include flex-center;
      cursor: pointer;
      border: 0;
      opacity: 0;
      transition: all 0.16s ease-in-out;

      p {
        padding: 8px 0;
        @include standart-text;
        font-weight: 500;
        color: white;
      }
    }
    &:hover {
      .addCart {
        bottom: 0;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .item__description {
    p {
      @include standart-text;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .item__description-discount {
      margin-bottom: 8px;
      @include standart-text;
      font-weight: 500;

      .current-price {
        color: $crimson;
        margin-right: 12px;
      }

      .prev-price {
        text-decoration: line-through;
        color: $gray;
      }
    }
  }

  .item__rating {
    @include items-center;
    gap: 8px;
    margin-bottom: 8px;

    p {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
      margin-bottom: 0;
      color: $gray;
    }
  }
}

.choiseColor {
  @include items-center;
  gap: 8px;

  .color-one,
  .color-two {
    @include size(20px);
    background-color: $crimson;
    @include border-radius(50%);
  }

  .color-one {
    border: 2px solid black;
    position: relative;
    background-color: #fb1314;

    &::before {
      content: "";
      position: absolute;
      border: 2px solid white;
      @include border-radius(50%);
      inset: 0;
    }
  }
}
