@import "mixins";
@import "variables";

.wrapper {
  border-bottom: 0.5px solid $border-gray;
  margin-bottom: 80px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.flashSales {
  @include items-center;
  margin-bottom: 40px;

  h2 {
    @include h2;
    margin-right: 87px;
  }
}

.ss {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
