@import "mixins";
@import "variables";

.wrapper {
  border-bottom: 0.5px solid $border-gray;
  margin-bottom: 80px;
}

.flashSales {
  @include items-center;
  margin-bottom: 40px;

  h2 {
    @include h2;
    margin-right: 87px;
  }
}

.viewAll {
  padding: 16px 48px;
  @include standart-text;
  font-weight: 500;
  display: flex;
  margin: 0 auto;
  border: 0;
  background-color: $crimson;
  @include border-radius(4px);
  color: #fafafa;
  margin-bottom: 60px;
}
